faiss-cpu
pymupdf
langchain
langchain_community
langchain_groq
markdown-it-py
fastapi
uvicorn 
psycopg2-binary
python-multipart
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]
unstructured 
pi_heif
unstructured_inference
pdf2image
markitdown-mcp
langchain_mcp_adapters